



<section class="container-fluid" id="projectGrid">
    <h1>Projects</h1>
    <article class="row ">
<div class="project col-sm-12 col-md-2" id="newProject"><h3>New Project</h3></div>

{{#each projects as |project|}}

<div class="project col-sm-12 col-md-2" id={{project.id}}>
    <h3>{{project.title}}</h3>
</div>
{{/each}}
</article>
</section>


<script src="/js/dashboard.js"></script>