<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Writer's Block</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/css/style.css" />
    
  </head>

  <body>
  
        <nav class="navbar navbar-expand-md bg-dark navbar-dark mx-0">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Writer's Block</a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Profile</a>
                </li>
               
              </ul>
            </div>
          </nav>
   

          <section class="container" id="projectGrid">
           
            <div id="1"></div>
            <div id="2"></div>
            <div id="3"></div>
            <div id="4"></div>


          </section>
          <script src="../public/js/dashboard.js"></script>










    <!-- {{{body}}}

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}} -->

  </body>

</html>